<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DEU ERRO MANO</title>
</head>
<body>
    <hgroup>
        <h1>IH MEU PARSA ZUO TUDO</h1>
        <h2>ZUO O ROLE CONTATE O ADMINISTRADOR URGENTE OU SUA MÃE MORRE</h2>
    </hgroup>
</body>
</html>
