<div class="row">
    @*PRIMEIRA COLUNA*@
    <div class="col-md-3 text-center">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="~/Images/hamburguer.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#">
                    <h3>Hamburgão Do Gilberto</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            </div>
        </div>
    </div>
    @*SEGUNDA COLUNA*@
    <div class="col-md-3 text-center">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="~/Images/hamburguer.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#">
                    <h3>Hamburgão Do Gilberto</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            </div>
        </div>
    </div>
    @*TERCEIRA COLUNA*@
    <div class="col-md-3 text-center">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="~/Images/hamburguer.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#">
                    <h3>Hamburgão Do Gilberto</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            </div>
        </div>
    </div>
    @*QUARTA COLUNA*@
    <div class="col-md-3 text-center">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive" src="~/Images/hamburguer.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="#">
                    <h3>Hamburgão Do Gilberto</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.
            </div>
        </div>
    </div>
</div>